.anchor {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
